<app-header></app-header>
<hr>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <img [src]="vehicle.imagePath" alt="Vehicle Image" class="img-fluid" style="max-width: 100%; height: auto;">
      <h2 style="text-align: center;">{{ vehicle.model }}</h2>
      <p style="text-align: center;">Per Day: ${{ vehicle.perDay }}</p>
    </div>
    <div class="col-sm-12 col-md-8">
        <h3 style="text-align: center; text-decoration: underline;">Book {{vehicle.model}}</h3>
      <form #bForm="ngForm" (ngSubmit)="onSubmitBookingForm(bForm)">
        <div class="form-group">
          <label for="startDate">Starting Date:</label>
          <input type="date" id="startDate" name="startDate" class="form-control" ngModel required>
        </div>
        <div class="form-group">
          <label for="startTime">Starting Time:</label>
          <input type="time" id="startTime" name="startTime" class="form-control" ngModel required>
        </div>
        <div class="form-group">
          <label for="endDate">Ending Date:</label>
          <input type="date" id="endDate" name="endDate" class="form-control" ngModel required>
        </div>
        <div class="form-group">
          <label for="endTime">Ending Time:</label>
          <input type="time" id="endTime" name="endTime" class="form-control" ngModel required>
        </div>
        <br>
        <button type="button" class="btn">Total Cost</button>
        <h4>${{totalAmount}}</h4>
        <br>
        <button type="submit" class="btn">Confirm Booking</button>
      </form>
    </div>
  </div>

  <p-dialog header="User Information" [(visible)]="dialog" [style]="{ width: '90%', 'max-width': '500px', 'margin': 'auto' }" #dialogRef>
    <form #userForm="ngForm" (ngSubmit)="onSubmitUserForm(userForm)" class="px-4 py-3">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" ngModel required minlength="2" maxlength="50" class="form-control">
        <div *ngIf="userForm.controls['name'] && (userForm.controls['name'].invalid && (userForm.controls['name'].dirty || userForm.controls['name'].touched))" class="text-danger">
          <div *ngIf="userForm.controls['name'].errors?.['required']">Name is required.</div>
          <div *ngIf="userForm.controls['name'].errors?.['minlength']">Name must be at least 2 characters long.</div>
          <div *ngIf="userForm.controls['name'].errors?.['maxlength']">Name cannot be more than 50 characters long.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" ngModel required minlength="5" maxlength="100" class="form-control">
        <div *ngIf="userForm.controls['address'] && (userForm.controls['address'].invalid && (userForm.controls['address'].dirty || userForm.controls['address'].touched))" class="text-danger">
          <div *ngIf="userForm.controls['address'].errors?.['required']">Address is required.</div>
          <div *ngIf="userForm.controls['address'].errors?.['minlength']">Address must be at least 5 characters long.</div>
          <div *ngIf="userForm.controls['address'].errors?.['maxlength']">Address cannot be more than 100 characters long.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" ngModel required email class="form-control">
        <div *ngIf="userForm.controls['email'] && (userForm.controls['email'].invalid && (userForm.controls['email'].dirty || userForm.controls['email'].touched))" class="text-danger">
          <div *ngIf="userForm.controls['email'].errors?.['required']">Email is required.</div>
          <div *ngIf="userForm.controls['email'].errors?.['email']">Please enter a valid email address.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="phone" ngModel required minlength="10" maxlength="15" pattern="[0-9]+" class="form-control">
        <div *ngIf="userForm.controls['phone'] && (userForm.controls['phone'].invalid && (userForm.controls['phone'].dirty || userForm.controls['phone'].touched))" class="text-danger">
          <div *ngIf="userForm.controls['phone'].errors?.['required']">Phone number is required.</div>
          <div *ngIf="userForm.controls['phone'].errors?.['minlength']">Phone number must be at least 10 digits long.</div>
          <div *ngIf="userForm.controls['phone'].errors?.['maxlength']">Phone number cannot be more than 15 digits long.</div>
          <div *ngIf="userForm.controls['phone'].errors?.['pattern']">Please enter a valid phone number.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="dob">Date of Birth:</label>
        <input type="date" id="dob" name="dob" ngModel required class="form-control">
        <div *ngIf="userForm.controls['dob'] && (userForm.controls['dob'].invalid && (userForm.controls['dob'].dirty || userForm.controls['dob'].touched))" class="text-danger">
          <div *ngIf="userForm.controls['dob'].errors?.['required']">Date of Birth is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="dl">DL No.:</label>
        <input type="text" id="dl" name="dl" ngModel required minlength="5" maxlength="20" class="form-control">
        <div *ngIf="userForm.controls['dl'] && (userForm.controls['dl'].invalid && (userForm.controls['dl'].dirty || userForm.controls['dl'].touched))" class="text-danger">
          <div *ngIf="userForm.controls['dl'].errors?.['required']">DL No. is required.</div>
          <div *ngIf="userForm.controls['dl'].errors?.['minlength']">DL No. must be at least 5 characters long.</div>
          <div *ngIf="userForm.controls['dl'].errors?.['maxlength']">DL No. cannot be more than 20 characters long.</div>
        </div>
      </div>
      <div class="form-check">
        <input type="checkbox" id="agree" name="agree" ngModel required class="form-check-input">
        <label for="agree" class="form-check-label">I have read all the rules and agreements</label>
        <div *ngIf="userForm.controls['agree'] && (userForm.controls['agree'].invalid && (userForm.controls['agree'].dirty || userForm.controls['agree'].touched))" class="text-danger">
          <div *ngIf="userForm.controls['agree'].errors?.['required']">You must agree to the terms and conditions.</div>
        </div>
      </div>
      <button type="submit" [disabled]="!userForm.valid" class="btn mt-3" style="background-color:#162542 ;">Book</button>
    </form>
  </p-dialog>
</div>
