<app-header></app-header>

<div class="row" style="background-color: #162542;">
    <div class="col-sm-12 col-md-10 col-lg-8">
        <h6 style="color: #fff;">Welcome to Rent Wheels!</h6>
        <br>
        <p style="text-align: justify; color:#fff">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste reiciendis voluptates repellat officia! Id, tenetur.
        </p>
    </div>
  </div>
  
  <div class="row">
    <h6>Categories</h6>
  </div>

  
  <div class="row">
    <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="card">
            <br><br>
            <img src="assets/images/p11.png" class="card-img-top" alt="Image">
            <br><br>
            <div class="card-body">
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <br>
                <a class="btn" (click)="onClick()">Cars</a>      
            </div>
        </div>
        <!-- <h4 style="text-align: center; background-color: #162542; height: auto; color: #fff; padding-top: 10px; padding-bottom: 10px;">Cars</h4> -->
    </div>
    <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="card">
            <img src="assets/images/p4.png" class="card-img-top" alt="Image">
            <br><br>
            <div class="card-body">
                <!-- <h5 class="card-title">Special title treatment</h5> -->
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a class="btn">Bikes</a>
            </div>
            <!-- <h4 style="text-align: center; background-color: #162542; height: auto; color: #fff; padding-top: 10px; padding-bottom: 10px;">Cars</h4> -->
        </div>
    </div>
    <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="card">
            <br>
            <img src="assets/images/p7.png" class="card-img-top" alt="Image">
            <div class="card-body">
                <!-- <h5 class="card-title">Special title treatment</h5> -->
                <p class="card-text" style="padding-bottom: 10px;">With supporting text below as a natural lead-in to additional content.</p>
                
                <a class="btn">Buses</a>   
            </div>
            <!-- <h4 style="text-align: center; background-color: #162542; height: auto; color: #fff; padding-top: 10px; padding-bottom: 10px; margin-top: 5px;">Cars</h4> -->
        </div>
    </div>
</div>